@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';
@import './styles/fonts.css';
@import 'tailwindcss';

@theme {
	--color-primary: #01b48a;
	--color-primary-light: #3dd2b8;
	--color-primary-dark: #008f68;
	--color-secondary: #f0a202;
	--color-secondary-light: #f7c949;
	--color-secondary-dark: #c87e00;
}

:root {
	font-family: Inter, sans-serif;
}

html,
body {
	height: 100%;
}
