@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';
@import 'tailwindcss';

@theme {
	--color-primary: #01b48a;
	--color-secondary: #f0a202;
}

:root {
	font-family: Inter, sans-serif;
}
